body{
    background: linear-gradient(to right top, #65dfc9, #6cdbed);
    font-family: 'Roboto', sans-serif;
}

/* header section */
header, section, footer, #container{
    background-color: white;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    width: 1000px;
    margin: 20px auto;

}
header{
    height: 90px; 
    padding: 8px;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    

}
#logo{
    height: 100px;
    width: 100px;

}

/* welcoming section */
section{
    padding: 5px;
}
.imgs{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
}
#img1, #img2, #img3{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#welcome{
    padding: 10px;
}

/* container section */
#container{
    height: 550px;
}
#calculator{
    width: 320px;
    height: 520px;
    background-color:#eaedef;
    margin: auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.8
}
#result{
    height: 120px;
}
#history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: darkslategrey;
}
#output{
text-align: right;
height: 60px;
margin: 10px 20px;
font-size: 30px;
color: black;
}
#keyboard{
    height: 400px;
}
.operator, .number, .empty{
    background-color: lightgray;
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;

}
.number, .empty{
    background-color:#eaedef;
}
.number, .operator{
    cursor: pointer;
}
.operator:active, .number:active{
    font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
    outline: 0;
}
button:nth-child(4){
    font-size: 20px;
    background-color: #20b2aa;
}
button:nth-child(8){
    font-size: 20px;
    background-color: #20b2aa;
}
button:nth-child(12){
    font-size: 20px;
    background-color: #20b2aa;
}
button:nth-child(16){
    font-size: 20px;
    background-color: #20b2aa;
}
button:nth-child(20){
    font-size: 20px;
    background-color: #20b2aa;
}
#output-value{
    background-color: white;
    /* background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3)); */
    color: black;
}
footer{
    height: 40px;
    color: black;
    font-size: 15px;
    display: flex;
    flex-flow: row;
    justify-content: center;
}
h1{
    margin-left: 20px;
    padding-left: 10px;
}
